/*
========================================================================================
Nextflow config file for running on AWS Batch
========================================================================================
*/

params.environment = 'uat'
params.account_id = '952995844145'
params.s3_bucket = "s3://reference-${params.environment}-${params.account_id}"  // not sure what this is used for???
params.ecr_registry = "${params.account_id}.dkr.ecr.eu-west-2.amazonaws.com"

podman.enabled = true

process {

    executor = 'awsbatch'

    // default container
    container = "${params.ecr_registry}/pipeline_containers/ghcr.io/tso500_post_processing:dev"

    // tso500 app container
    withLabel: 'app_container' {
        container = "${params.ecr_registry}/pipeline_containers/tso500_app@sha256:d86e7c64d96731a23f3a1659cad07975da2424be55a84338b91dc0f63193a5a2"
    }

    // samtools container
    withLabel: 'samtools_container' {
        container = "${params.ecr_registry}/pipeline_containers/community.wave.seqera.io/samtools:1.21--0d76da7c3cf7751c"
    }

    // fastqc container
    withLabel: 'fastqc_container' {
        container = "${params.ecr_registry}/pipeline_containers/community.wave.seqera.io/fastqc:0.11.9--fd0125189547cb9c"
    }

    // default queue
    queue = "${params.environment}-batch-job-queue"

    withLabel: 'demultiplex_queue' {
        queue = "${params.environment}-batch-demultiplexing-queue"
    }

    errorStrategy = { sleep(Math.pow(2, task.attempt) * 1000 as long); return 'retry' }
    maxRetries = 2

}

aws {
    batch {
        // NOTE: this setting is only required if the AWS CLI is installed in a custom AMI
        cliPath = '/opt/conda-env/bin/aws'

        maxTransferAttempts = 3
        delayBetweenAttempts = '20 sec'

        // Lower I/O load to try and prevent failures with multiple jobs
        // on a single instance
        maxParallelTransfers = 4
    }
    region = 'eu-west-2'
}
